class AWSPrivateSettings(object):
    access_key_id_name = 'my_aws_access_key_id'
    secret_access_key_name = 'my_aws_access_key'


class DigitalOceanPrivateSettings(object):
    token_name = 'my_digitalocean_access_token'


class OrganizationBalancePrivateSettings(object):
    email = 'my_paypal_email'
    password_account = 'my_paypal_password'
