class AWSPrivateSettings(object):
    aws_access_key_id = 'my_aws_access_key_id'
    aws_secret_access_key = 'my_aws_access_key'


class AzurePrivateSettings(object):
    azure_os_password = 'my_azure_os_password'


class DigitalOceanPrivateSettings(object):
    digitalocean_access_token = 'my_digitalocean_access_token'


class OrganizationBalancePrivateSettings(object):
    payment_account_email = 'my_payment_account_email'
    payment_account_password = 'my_payment_account_password'
